<form [formGroup]="registeForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
  
    <div class="form-group">
      <label class="control-label" style="margin-right:10px">I am a: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="male" formControlName="gender">Male
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="female" formControlName="gender">Female
      </label>
    </div>

    <div class="form-group">
      <input type="text" 
      [ngClass]="{'is-invalid':registeForm.get('username').errors
        && registeForm.get('username').touched }"
      class="form-control"
      formControlName="username"
      placeholder="Username">
      <div class="invalid-feedback">Please choose a username</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registeForm.get('knownAs').errors && registeForm.get('knownAs').touched}" class="form-control"
        placeholder="Known as" formControlName="knownAs">
      <div class="invalid-feedback" *ngIf="registeForm.get('knownAs').touched && registeForm.get('knownAs').hasError('required')">Known as is required</div>
    </div>
  
    
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registeForm.get('dateOfBirth').errors && registeForm.get('dateOfBirth').touched}" class="form-control"
        placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker [bsConfig]='bsConfig'>
      <div class="invalid-feedback" *ngIf="registeForm.get('dateOfBirth').touched && registeForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registeForm.get('city').errors && registeForm.get('city').touched}" class="form-control"
        placeholder="City" formControlName="city">
      <div class="invalid-feedback" *ngIf="registeForm.get('city').touched && registeForm.get('city').hasError('required')">City is required</div>
    </div>
    
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registeForm.get('country').errors && registeForm.get('country').touched}" class="form-control"
        placeholder="Country" formControlName="country">
      <div class="invalid-feedback" *ngIf="registeForm.get('country').touched && registeForm.get('country').hasError('required')">Country is required</div>
    </div>


    <div class="form-group">
      <input type="password"
      [ngClass]="{'is-invalid':registeForm.get('password').errors
        && registeForm.get('password').touched }"
      class="form-control"
      formControlName="password"
      placeholder="Password">
      <div class="invalid-feedback"
      *ngIf="registeForm.get('password').hasError('required')
      && registeForm.get('password').touched">Password is required
      </div>
      <div class="invalid-feedback"
      *ngIf="registeForm.get('password').hasError('minlength')
      && registeForm.get('password').touched">Password must be at least 4 charachters
      </div>
      <div class="invalid-feedback"
      *ngIf="registeForm.get('password').hasError('maxlength')
      && registeForm.get('password').touched">Password cannot exceed charachters
      </div>
    </div>

    <div class="form-group">
      <input type="password"
      [ngClass]="{'is-invalid':registeForm.get('confirmPassword').errors
        && registeForm.get('confirmPassword').touched
        || registeForm.get('confirmPassword').touched
        && registeForm.hasError('mismatch')}"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirm Password">
      <div class="invalid-feedback"
      *ngIf="registeForm.get('confirmPassword').hasError('required')
      && registeForm.get('confirmPassword').touched">Password is required
      </div>
      <div class="invalid-feedback"
      *ngIf="registeForm.hasError('mismatch')
      && registeForm.get('confirmPassword').touched">Passwords must match
      </div>
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-success mr-2" [disabled]="!registeForm.valid" type="submit">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
    
  </form>